{% extends 'padre_form.html' %}


{% block titulo %}Resultados  {% endblock %}

{% block central %}
    <h3 class="titulo">RESULTADOS DE LA BÚSQUEDA </h3>
    <a href="index.php"><img  class="miniatura" src="templates/images/home.png" /></a> 

    {% for value in eventos %}
    <div class="formulario"> 
        <a href="evento.php?ev={{value.id}}"><h3 class="evento"><b> Evento {{ value.id }}: {{ value.nombre }}</b></h3></a>
            <div class="comentario_individual" id="ultimo_comentario">
                <p>{{ value.organizacion }}</p> 
                <p >{{ value.fecha }}</p>
                <p >{{ value.descripcion }}</p>
                <p >{{ value.enlace }}</p>
            </div>
    </div>
    {% endfor %}

{% endblock %}