
a{
    color:white;
}

body {
    background-color: #f8e5a0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.centro {
    overflow: hidden; height:auto; 
  
   width: 40em;
	border: 1px solid purple;
    background-color: purple;
}

.titulo {
    color: white;
    text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 2em;
}
.evento {
    color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.comentario_individual {
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.7em;
	border-radius: 2%;
}

.formulario {
    border-radius: 2%;
    border: 1px solid white;
    margin:10%;
    padding: 5%;
}

.formulario_peq {
    border-radius: 2%;
    border: 1px solid white;
    margin:1%;
    padding: 5%;
}

.boton {
    text-align: center;
    margin:1%;
    float: left;
    
}

input[type=submit] {
    padding:5px 15px; 
    background: white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 10px; 
}
.miniatura {
    float:right;
    margin: 2%;
}

.boton2{
    float:right;
}

.imagenes {
    border-radius: 2%;
    border: 1px solid white;
    width:20%;
    height: 20%;
    margin:1%;
    padding: 5%;
}