{% extends 'padre_form.html' %}


{% block titulo %}Editar Evento  {% endblock %}

{% block central %}
    <h3 class="titulo">EDITAR EVENTO </h3>
    <a href="index.php"><img  class="miniatura" src="templates/images/home.png" /></a> 

    <div class="formulario">
        <form action="editarEventonombre.php?ev={{ evento['id'] }}" method="post" >
    
            <h6  class="comentario_individual">Nombre: </h6>
            <textarea name="nombre_evento" id="nombre_evento"  rows="1" cols="25" required>{{ evento['nombre'] }}</textarea>
            
            <input  class="boton2" type="submit" value="Editar Nombre">
            
        </form>
       
        <form action="editarEventoorg.php?ev={{ evento['id'] }}" method="post" >
    
            <h6  class="comentario_individual">Organizacion: </h6>
            <textarea name="org_evento" id="org_evento"  rows="1" cols="25" required>{{ evento['organizacion'] }}</textarea>
            
            <input class="boton2" type="submit" value="Editar Organizacion">
            
        </form>

        <form action="editarEventofecha.php?ev={{ evento['id'] }}" method="post" >
    
            <h6  class="comentario_individual">Fecha: </h6>
            <textarea name="fecha_evento" id="fecha_evento"  rows="1" cols="25" required>{{ evento['fecha'] }}</textarea>
            
            <input class="boton2" type="submit" value="Editar Fecha">
            
        </form>
   
        <form action="editarEventoEtiquetas.php?ev={{ evento['id'] }}" method="post" >
    
            <h6  class="comentario_individual">Etiquetas: (separadas por coma sin espacios) </h6>
            <textarea name="etiquetas_evento" id="etiquetas_evento"  rows="1" cols="25" required>{{ evento['etiquetas'] }}</textarea>
            <br></br>
            <div style="text-align: center;">
            <input  type="submit" value="Editar Etiquetas">
            </div>
        </form>

        <form action="editarEventocontenido.php?ev={{ evento['id'] }}" method="post" >
    
            <h6  class="comentario_individual">Descripcion: </h6>
            <textarea name="contenido_evento" id="contenido_evento"  rows="5" cols="50" required>{{ evento['descripcion'] }}</textarea>
            <br></br>
            <div style="text-align: center;">
            <input  type="submit" value="Editar Contenido">
            </div>
        </form>

        <form action="formularioEditarImagenesEvento.php?ev={{ evento['id'] }}" method="post" >
            <input  type="submit" value="Editar Fotos">
        </form>
        
    </div>

{% endblock %}